<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="solverLibConfig" type="ShiftUC.Solver.Configuracion.SeccionConfiguracion, SolverLib" />
  </configSections>
  <solverLibConfig>
    <rutaAmpl>C:\ILOG\AMPL121\bin\x64_win64\ampl.exe</rutaAmpl>
  </solverLibConfig>
</configuration>